BasedOnStyle: LLVM

NamespaceIndentation: All
IndentWidth: 4
ColumnLimit: 80

AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Attach
AccessModifierOffset: 0
BreakAfterReturnType: ExceptShortType

BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1

Cpp11BracedListStyle: true
AllowAllConstructorInitializersOnNextLine: false
BreakConstructorInitializers: BeforeComma
BinPackArguments: false

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesInParentheses: false

PenaltyReturnTypeOnItsOwnLine: 60
PenaltyBreakComment: 300
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyBreakOpenParenthesis: 0

AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false